html{
text-align:center;
font-family: Helvetica;
}

.heading-bar{
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  color: white;
}

.footing-bar{
  background-color: dimgray;
  color: white;
  text-align: left;
}

.web-links{
  font-size: 18px;
}

a{
  color: white;
}

h1{
  font-size: 70px;
  font-weight: bold;
}

h2{
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-size: 23px;
  font-weight: bold;
}

h4{
  font-size: 18px;
}

h5{
  font-size: 11px;
}


p{
  font-size: 14px;
}
